{% extends "website/base.html" %}
{% load static %}

{% block title %}
       About
{% endblock  %}

{% block content %}
    <div class="about-page">
        <section class="about-hero">
            <h1>About our Coaching Institute</h1>
            <p>Empowering student in Bhopal since 2015</p>
        </section>

        <section class="gallery-section">
            <h2>Life at Our Center</h2>
            <div class="slider-container">
                <div class="slide fade">
                    <img src="{% static 'website/images/gallery1.png' %}" alt="Classroom">
                    <div class="caption">Our Modern Classrooms</div>
                </div>

                <div class="slide fade">
                    <img src="{% static 'website/images/gallery2.png' %}" alt="Students">
                    <div class="caption">Focused Learning Sessions</div>
                </div>

                <div class="slide fade">
                    <img src="{% static 'website/images/gallery3.png' %}" alt="Library">
                    <div class="caption">Quiet Study Areas</div>
                </div>

                <div class="slide fade">
                    <img src="{% static 'website/images/gallery4.png' %}" alt="Library">
                    <div class="caption">Register now</div>
                </div>

                <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
                <a class="next" onclick="moveSlide(1)">&#10095;</a>
            </div>
        </section>

        <section class="about-mission">
            <div class="mission-text">
                <h2>Our Mission</h2>
                <p>We believe every student has the potenttial to excel.Our goal is to provide personalized support that builds confidence and academic success.</p>

            </div>
        </section>
        <section class="about-features">
            <h2>Why Parents Trust Us</h2>
            <div class="features-grid">
                    <div class="feature-item">
                    <h3>Expert Tutors</h3>
                    <p>Qualified teachers with years of experience in their subjects.</p>
                </div>
                <div class="feature-item">
                    <h3>Small Classes</h3>
                    <p>Ensuring every student gets the attention they deserve.</p>
                </div>
                <div class="feature-item">
                    <h3>Proven Results</h3>
                    <p>95% of our students improve by at least two grade levels.</p>
                </div>
             </div>
        </section>

    </div>

{% endblock  %}